@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
}

.black {
  background-color: #0f1e31;
  width: 100vw;
  height: 100vh;
  display: grid;
  flex-direction: column;
  justify-content: space-around;
}

.black-content {
  display: flex;
  flex-direction: column;
}

.black h1 {
  color: white;
  font-family: Roboto Mono;
  text-align: center;
  margin-top: 70px;
}

.shadow {
  color: white;
  font-family: Roboto Mono;
  text-align: center;
  margin-top: 80px;
  text-shadow: 2px 2px 4px #ffffff;
}

.image {
  position: relative;
  width: 350px;
  margin: 90px auto 0 auto;
}

.cyan {
  background-color: rgb(0, 109, 109);
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: space-around;
}

.cyan h11 {
  color: white;
  font-family: Roboto Mono;
  text-align: start;
  margin-top: 70px;
}

.cyan h3 {
  color: white;
  font-family: PT Serif  ;
  text-align: start;
  line-height: 1.5;
  font-size: 3.4vh;
}

.cyan h2 {
  color: white;
  font-family: PT Serif  ;
  text-align: start;
  line-height: 1.5;
}


.cyan p {
  color: white;
  font-family: PT Serif  ;
  font-size: 3vh;
  text-align: start;
  line-height: 1.5;
}

.cyan p:first-child {
  margin-left: 5%;
}

.cyan p:last-child {
  margin-right: 5%;
}

.structure-img {
  border-radius: 20px;
  width: 40vw;
  margin-top: 20vh;
}

.button {
  position: fixed;
  bottom: 0;
  left: 10vw;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  font-family: Lobster;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 8px;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 20px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  position: fixed;
  bottom: 0;
  right: 10vw;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  font-family: Lobster;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 8px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.8s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button:hover span {
  padding-left: 20px;
}

.button:hover span:after {
  opacity: 1;
  left: 0;
}

.container {
  width: 100px;
  position: fixed;
  top: 4vh;
  right: 15vw;
  font-size: 2.2vh;
}

.click {
  background-color: rgb(248, 95, 115);
}

.click:hover {
  background-color: rgb(248, 95, 115, 0.8);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.click,
.links {
  margin-bottom: 0.3vh;
  padding: 10px;
  font-size: 1.2em;
  font-family: Fira Sans Condensed;
  outline: none;
  width: 245px;
  color: #fff;
  transition: 0.3s;
  border-radius: 18px 0px 20px;
}

.list {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.newlist {
  transform: scaleY(1);
}

.links {
  background-color: #283c63;
  top: 1vh;
}

.links:hover {
  background-color: #295792;
  transform: scale(1.1);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#border {
  margin-top: 20vh;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 15px 50px;
  background: #219dad;
  padding: 20px;
  width: 50wh;
  height: 50wh;
}

#border:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.trans {
  animation: transitionIn 0.75s;
}
#border1 {
  margin-top: 5vh;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 15px 50px;
  background: #219dad;
  padding: 20px;
  width: 50wh;
  height: 50wh;
}

#border1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.trans {
  animation: transitionIn 0.75s;
}


.li{
  padding-left: 10vw;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    translate: 0 -25px;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}


.state {
  display: flex;
  column-gap: 20px;
}